table.table { 
    width: 100%;
} 

.table th, .table td { 
    text-align: left; 
    padding: 0.25em;
}

.table button {
    margin: 2px 5px;
    padding: 5px 10px;
}

  
.table tr { 
    border-bottom: 1px;
}
 
@media screen and (max-width: 800px) {
    tr { 
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
    }
    td, th {
        flex: 1 1 150px;
    }
}
  