input,
input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: var(--ifm-color-primary-light);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 15px;
}