+++
title = "Toggle"
linkTitle = "Toggle"

+++

{{< blocks/cover title="Welcome to Toggle!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/togglee/">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Feature toggles that do not require any server</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Togglee is a feature toggle library for multiple programming languages that does not require any server to update your toggles.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See Togglee in action!" url="/docs/examples/" %}}
As well as our example site, there's a growing number of projects using Togglee for their doc sites.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/togglee" %}}
We do a [Pull Request]("https://github.com/togglee") contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kanekotic" %}}
Find out about new features and how our users are using Togglee.
{{% /blocks/feature %}}


{{< /blocks/section >}}

